:root {
  --brand-HS: 1, 77%;
  --brand-HSL: var(--brand-HS), 55%;

  --black-HS: 0, 0%;
  --black-HSL: var(--black-HS), 18%;

  --white-HS: 0, 0%;
  --white-HSL: var(--white-HS), 100%;

  --brand-300: hsl(var(--brand-HS), 75%);
  --brand-400: hsl(var(--brand-HSL));
  --brand-500: hsl(var(--brand-HS), 35%);

  --black-300: hsl(var(--black-HS), 28%);
  --black-400: hsl(var(--black-HSL));

  --white-300: hsl(var(--white-HS), 90%);
  --white-400: hsl(var(--white-HSL));

  /* With opacity */

  --brand-faded-9: hsla(var(--brand-HSL), 0.9);
  --brand-faded-7: hsla(var(--brand-HSL), 0.7);
  --brand-faded-5: hsla(var(--brand-HSL), 0.5);
  --brand-faded-3: hsla(var(--brand-HSL), 0.3);
  --brand-faded-1: hsla(var(--brand-HSL), 0.1);

  --black-faded-9: hsla(var(--black-HSL), 0.9);
  --black-faded-7: hsla(var(--black-HSL), 0.7);
  --black-faded-5: hsla(var(--black-HSL), 0.5);
  --black-faded-3: hsla(var(--black-HSL), 0.3);
  --black-faded-1: hsla(var(--black-HSL), 0.1);

  --white-faded-9: hsla(var(--white-HSL), 0.9);
  --white-faded-7: hsla(var(--white-HSL), 0.7);
  --white-faded-5: hsla(var(--white-HSL), 0.5);
  --white-faded-3: hsla(var(--white-HSL), 0.3);
  --white-faded-1: hsla(var(--white-HSL), 0.1);
}

body {
  color: var(--black-400);
}

.heroContainer::after,
.heroContainer::before {
  content: '';
  position: absolute;
  z-index: 20;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.heroContainer::before {
  top: 25%;
  left: 0;
  background: var(--brand-faded-7);
}
@media (min-width: 768px) {
  .heroContainer::before {
    top: unset;
    bottom: 0;
    left: 1rem;
    background: var(--brand-faded-7);
  }
}

.heroContainer::after {
  width: 6rem;
  height: 6rem;
  bottom: -3rem;
  right: 2rem;
  background: var(--black-400);
}

.communityWrap::before,
.communityWrap::after {
  content: '';
  position: absolute;
}

.communityWrap::before {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: var(--brand-400);
  top: -5rem;
  right: -5rem;
}

.communityWrap::after {
  z-index: -1;
  right: -4rem;
  bottom: -3rem;
  width: 0;
  height: 0;
  border-bottom: 22rem solid var(--brand-faded-7);
  border-left: 22rem solid transparent;
}

.communityImage::before,
.communityImage::after {
  content: '';
  position: absolute;
}

.communityImage::before {
  bottom: -3.75rem;
  left: -3.75rem;
  width: 0;
  height: 0;
  border-top: 3.75rem solid var(--brand-400);
  border-left: 3.75rem solid transparent;
}

.aboutSideImageWrap::after {
  content: '';
  position: absolute;
  width: 550px;
  height: 550px;
  background-color: ;
  border-radius: 50%;
  z-index: -1;
  top: 80px;
  left: -200px;
}

.aboutSideImageWrap::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--black-300);
  border-radius: 50%;
  z-index: -1;
  top: -54px;
  left: 16px;
}

.aboutRedCircleAlias::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--brand-400);
  border-radius: 50%;
  z-index: -4;
  top: -105px;
  left: -44px;
}

.hamburger::before,
.hamburger::after {
  content: '';
  --height: 0.25rem /*tailwind: h-1*/;
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: inherit;
  border-radius: inherit;
  transition: transform 0.3s linear;
}

.hamburger::before {
  top: calc(var(--height) * -2);
  transition: opacity 0.3s linear;
}

.hamburger::after {
  top: calc(var(--height) * 2);
}

.hamburger--active {
  transform: rotate(45deg);
}

.hamburger--active::before {
  opacity: 0;
}

.hamburger--active::after {
  transform: rotate(-90deg) translateX(4px);
}
